.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 90%;
    width: 100%;
    padding: 0 80px;
}

.logo {
    margin-bottom: 3rem;
    user-select: none;
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.toRegistrationParagraph {
    font-size: var(--font-size-24);
    color: var(--color-text-icon-primary);
    display: inline-block;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.toRegistrationLink {
    text-decoration: none;
    color: var(--color-text-icon-link-enabled);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-24);
}

.toRegistrationWrapper {
    width: 100%;
    font-size: var(--font-size-24);
    text-align: center;
    margin-top: 2rem;
    user-select: none;
}

.restorePasswordLink {
    color: var(--color-text-icon-link-enabled);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    user-select: none;
}

.restoreLinkWrapper {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-24);
    margin-top: 1.5rem;
}

@media only screen and (max-width: 1400px) {
    .authForm {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    .authForm {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .contentWrapper {
        width: 80%;
    }

    .authForm {
        width: 100%;
    }

    .logo {
        width: 48%;
        height: 14%;
    }

    .restoreLinkWrapper,
    .toRegistrationParagraph,
    .toRegistrationLink {
        font-size: var(--font-size-16);
    }

    .toRegistrationWrapper {
        font-size: var(--font-size-16);
        margin-top: 2rem;
    }
}
