.contentWrapper {
  height: 100%;
  width: 26%;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}

.logo {
  width: 48%;
  height: 14%;
  margin: 18vh 0 8vh;
  transform: translateX(50%);
  user-select: none;
}

.toRegistrationParagraph {
  font-size: var(--font-size-24);
  color: var(--color-text-icon-primary);
  display: inline-block;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.toRegistrationLink {
  text-decoration: none;
  color: var(--color-text-icon-link-enabled);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
}

.toRegistrationWrapper {
  width: 100%;
  font-size: 1vmax;
  text-align: center;
  margin-top: 10vh;
  user-select: none;
}

.restorePasswordLink {
  color: var(--color-text-icon-link-enabled);
  text-decoration: none;
  user-select: none;
}

.restoreLinkWrapper {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-24);
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  .contentWrapper {
    width: 35%
  }
}

@media only screen and (max-width: 992px) {
  .contentWrapper {
    width: 50%
  }
}

@media only screen and (max-width: 600px) {
  .contentWrapper {
    width: 80%;
  }

  .logo {
    width: 48%;
    height: 14%;
  }

  .restoreLinkWrapper {
    font-size: 3.7vw;
  }

  .toRegistrationWrapper {
    font-size: 3.9vw;
    margin-top: 50vw;
  }
}


