{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "trailingComma": "all"
}
