.teamCreationForm {
  width: 50%;
  height: 100%;
}

.pageTitle {
  font-size: 4vmin;
  margin: 5vh 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color:#FFFFFF;
}

.teamName{
  border-radius: 4px !important;
  background-color: #000B1D !important;
}

.contentWrapper {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-sizing: content-box;
  background-color: hsl(216, 48%, 11%);
  border-radius: 8px;
  padding: 4vh;
  margin: 2vh;
  gap:4%;

  .buttonWrapper{
    margin-left: auto;
  }
}

.link {
  text-decoration: none;
}

.settingsWrapper {
  display: flex;
  width: 100%;
  input {
    color:#FFFFFF;
    background-color: #000B1D;
    border-radius: 3px !important;
    height: -webkit-fill-available;
    border: 2px solid #F1F3F929
  }

  input::placeholder {
    color: #F1F3F9B8 !important;
    font-size: 3vh;
  }
}

.settingsWrapper{
  margin-bottom: -3%;
}

.captainWrapper {
  flex-direction: column;
  gap: 10%;
  display: flex;
  width: 100%;
  input {
    
  }

  input::placeholder {
    color: #F1F3F9B8 !important;
    font-size: 3vh;
  }
}

.captainSettings{
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.membersWrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.membersPanel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.membersLabel {
  height: 5vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6vw;
  color: white;
  font-family: Roboto, sans-serif;
  flex-grow: 1;
}

.members {
  width: 103.3%;
  flex: 1;
}

.memberWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.adminName {
  width: 38%;
}

.adminEmail {
  width: 52%;
}

.adminInput {
  font-size: 1.4vw !important;
  height: 6vh;
  border-radius: 4px !important;
  background-color: #000B1D;
  margin-bottom: 2vh;
  border: 2px solid rgba(241, 243, 249, 0.1607843137);
  min-height: 26px;
  cursor: text;

  input {
    cursor: text;
    color:#FFFFFF;
  }

  input::placeholder {
    color: #F1F3F9B8 !important;
  }
}

.button {
  height: 5vh;
  font-size: 1.3vw;
  font-weight: var(--font-weight-medium);
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
  font-family: Roboto, sans-serif;
  min-height: 26px;
  padding: 0 2vw;
  background-color: #FFFFFF0F;
  color: #F1F3F9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;

  &:not(:disabled):hover {
    cursor: pointer;
    box-shadow: 0 0 2vh 2px var(--color-fill-accent-enabled);
  }

  &:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .50);
  }
}

.adminButton {
  min-width: 0 !important;
  height: 6vh;
  font-size: 1.5vw;
  overflow: hidden;
  user-select: none;
  font-family: Roboto, sans-serif;
  min-height: 26px;
  background: transparent;

  &:not(:disabled):hover {
    cursor: pointer;
  }

  svg > path{
    width: 7vw;
  }
}

.scrollbarView {
  overflow-x: hidden !important;
  padding: 1vh 1.5vw 1vh 0;
}

.verticalTrack {
  z-index: 0 !important;
}

.buttonsWrapper{
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: -webkit-fill-available;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .teamCreationForm {
    width: 100%;
    height: 80%;
  }

  .pageTitle {
    margin: 9vw 0;
    font-size: 7vmin;
  }

  .settingsWrapper {
    flex-direction: column;
    margin-bottom: -5%;
  }

  .membersWrapper {
    border: 2px solid var(--color-fill-accent-enabled);
    border-radius: 3px;
    padding: 3vw;
  }

  .membersPanel {
    margin-bottom: 2vw;
  }

  .membersLabel {
    height: auto;
    width: auto;
    font-size: 4.5vw;
  }

  .button {
    height: 9vw;
    font-size: 3.5vw;
    padding: 0 5vw;
  }

  .memberWrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .membersLabel{
    margin-bottom: 5%;
  }

  .adminName {
    width: 100%;
  }

  .adminEmail {
    width: 100%;
  }

  .adminButton {
    width: auto !important;
    text-transform: capitalize !important;
    padding: 0 5vw !important;
    font-size: 3.5vw !important;
    height: 9vw !important;
    background-color: #FFFFFF0F !important;
    color: #F1F3F9 !important;
  }

  .adminInput {
    height: 11vw !important;
    font-size: 5.3vw !important;
    margin-bottom: 3% !important;
  }
  .contentWrapper{
    height: 98%;
    width: 84%;
  }

  .captainSettings{
    display: flex;
    flex-direction: column;
    margin-top: -3%;
    margin-bottom: -5%;
  }
}
