.gameType {
  font-size: var(--font-size-16);
  line-height: var(--line-height-small);
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  background-color: rgb(20, 57, 77);
  width: 50%;
  border-radius: 8px;
}

.gameTypeName {
  color: var(--color-text-icon-secondary);
}

.gameTypeQr {

}