.addButtonWrapper {
  text-decoration: none;
}

.addButtonWrapper svg {
  font-size: var(--font-size-32) !important;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 5rem;
}

.sectionPage {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.sectionListEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  flex: auto;
  border: 1px solid var(--color-bg-plates);
  margin: 0 80px 40px;
  border-radius: 16px;
}

.emptyImage {
  width: 300px;
  height: 300px;
}

.emptyTitle {
  font-family: var(--font-family-primary);
  text-decoration: none;
  margin: 0;
  font-size: var(--font-size-32);
  color: var(--color-text-icon-primary);
  font-weight: var(--font-weight-medium);
}

.sectionList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: var(--line-height-small);
  font-family: var(--font-family-primary);
  color: var(--color-text-icon-primary);
}

@media only screen and (max-width: 600px) {
  .sectionList {
    padding: 1rem 2rem 3.5rem;
  }

  .sectionListEmpty {
    margin: 1rem 2rem 3.5rem;
  }

  .sectionHeader {
    margin: 1rem 2rem;
    position: fixed;
    bottom: 3rem;
    z-index: 2;

    .title {
      display: none;
    }

    .CustomButton {
      font-size: 3rem;
    }
  }

  .emptyImage {
    width: 50%;
    height: auto;
  }

  .emptyTitle {
    font-size: var(--font-size-20);
  }
}