.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.title {
  font-size: var(--font-size-32);
  line-height: var(--line-height-medium);
  font-family: var(--font-family-primary);
  color: var(--color-text-icon-primary);
}

.addButtonWrapper {
  text-decoration: none;
}

.addButtonWrapper svg {
  font-size: var(--font-size-32) !important;
}

.sectionPage {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 24px;
  gap: 8px;
}

.sectionListEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  flex: auto;
  border: 1px solid var(--color-bg-plates);
  border-radius: 16px;
}

.emptyImage {
  width: 300px;
  height: 300px;
}

.emptyTitle {
  font-family: var(--font-family-primary);
  text-decoration: none;
  margin: 0;
  font-size: var(--font-size-32);
  color: var(--color-text-icon-primary);
  font-weight: var(--font-weight-medium);
}

.sectionList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
