.button {
  pointer-events: all;
  display: flex;
  border-radius: 8px;
  align-items: center;
  column-gap: 4px;
  flex-wrap: nowrap;
  padding: 8px 12px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-medium);
  color: var(--color-text-icon-default-primary);
  background-color: var(--color-fill-default-default);
  text-decoration: none;
  cursor: pointer;
  justify-content: space-between;
  position: relative;


  &:not(:disabled):hover {
    background-color: var(--color-fill-default-hover);
  }

  &:not(:disabled):active {
    background-color: var(--color-fill-default-pressed);
  }

  &:disabled {
    background-color: var(--color-fill-default-disabled);
    color: var(--color-text-icon-default-disabled);
    cursor: default;
    pointer-events: none;
  }

  &.button_disabled {
    background-color: var(--color-fill-default-disabled);
    color: var(--color-text-icon-default-disabled);
    cursor: default;
    pointer-events: none;

    &:hover, &:active {
      background-color: var(--color-fill-default-disabled);
      color: var(--color-text-icon-default-disabled);
      cursor: default;
      pointer-events: none;
    }
  }

}

.button_primary {
  background-color: var(--color-fill-primary-default);

  &:not(:disabled):hover {
    background-color: var(--color-fill-primary-hover);
  }

  &:not(:disabled):active {
    background-color: var(--color-fill-primary-pressed);
  }

  &:disabled {
    background-color: var(--color-fill-primary-disabled);
    color: var(--color-text-icon-default-disabled);
    cursor: default;
    pointer-events: none;
  }

  &.button_primary_disabled {
    background-color: var(--color-fill-primary-disabled);
    color: var(--color-text-icon-default-disabled);
    cursor: default;
    pointer-events: none;

    &:hover, &:active {
      background-color: var(--color-fill-primary-disabled);
      color: var(--color-text-icon-default-disabled);
      cursor: default;
      pointer-events: none;
    }
  }
}

.button_link {
  background-color: transparent;
  color: var(--color-text-icon-link-primary);

  &:not(:disabled):hover {
    color: var(--color-text-icon-link-hover);
  }

  &:not(:disabled):active {
    color: var(--color-text-icon-default-primary);
  }

  &:disabled {
    color: var(--color-text-icon-default-disabled);
    cursor: default;
    pointer-events: none;
  }

  &.button_link_disabled {
    color: var(--color-text-icon-default-disabled);
    cursor: default;
    pointer-events: none;

    &:hover, &:active {
      color: var(--color-text-icon-default-disabled);
      cursor: default;
      pointer-events: none;
    }
  }
}

.button_red {
  color: var(--color-strokes-error);

  &:not(:disabled):hover {
    color: var(--color-strokes-error);
  }

  &:not(:disabled):active {
    color: var(--color-strokes-error);
  }

  &:disabled {
    color: var(--color-strokes-error);
    cursor: default;
    pointer-events: none;
  }

  &.button_red_disabled {
    color: var(--color-strokes-error);
    cursor: default;
    pointer-events: none;

    &:hover, &:active {
      color: var(--color-strokes-error);
      cursor: default;
      pointer-events: none;
    }
  }
}

.button_transparent {
  background-color: transparent;
  padding: 8px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xlarge);


  &:not(:disabled).button_active{
    background-color: var(--color-fill-default-default);
  }
}