:root {
    // Units
    --base-unit: 0.25rem;

    //Typography
    --font-family-primary: sans-serif, 'Roboto';
    --font-family-secondary: serif, 'Georgia';
    --font-size-12: calc(var(--base-unit) * 3);
    --font-size-14: calc(var(--base-unit) * 7 / 2);
    --font-size-16: calc(var(--base-unit) * 4);
    --font-size-18: calc(var(--base-unit) * 9 / 2);
    --font-size-20: calc(var(--base-unit) * 5);
    --font-size-24: calc(var(--base-unit) * 6);
    --font-size-28: calc(var(--base-unit) * 7);
    --font-size-32: calc(var(--base-unit) * 8);
    --font-size-40: calc(var(--base-unit) * 10);
    --font-size-48: calc(var(--base-unit) * 12);
    --font-size-64: calc(var(--base-unit) * 16);

    --line-height-default: 1;
    --line-height-small: 1.1;
    --line-height-medium: 1.3;
    --line-height-large: 1.5;
    --line-height-xlarge: 2;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    // Colors
    // Background
    --color-bg-main: #000b1d;
    --color-bg-block: #0f1a2b;

    // old
    --color-bg-main-OLD: #00131d;
    --color-bg-plates: #00283d;
    --color-bg-overlay-default: rgba(255, 255, 255, 0.06);
    --color-bg-overlay-success: rgba(36, 255, 36, 0.06);

    // Fills
    --color-fill-default: #000b1d;

    --color-fill-default-default: rgba(255, 255, 255, 0.06);
    --color-fill-default-hover: rgba(255, 255, 255, 0.12);
    --color-fill-default-pressed: rgba(255, 255, 255, 0.16);
    --color-fill-default-disabled: rgba(20, 31, 47, 1);

    --color-fill-primary-default: #1a5fc6;
    --color-fill-primary-hover: #1857b6;
    --color-fill-primary-pressed: #1650a6;
    --color-fill-primary-disabled: #124187;

    --color-fill-status-inprogress: rgba(0, 255, 26, 0.06);

    // old

    --color-fill-accent-enabled: #0077b8;
    --color-fill-accent-hover: #0069a3;
    --color-fill-accent-pressed: #005787;
    --color-fill-accent-disabled: #00283d;

    --color-fill-default-enabled: rgba(255, 255, 255, 0.16);
    --color-fill-default-hover-OLD: rgba(255, 255, 255, 0.24);
    --color-fill-default-pressed-OLD: rgba(255, 255, 255, 0.06);
    --color-fill-default-disabled-OLD: rgba(255, 255, 255, 0.06);

    --color-control-accent-enabled: #0aa9ff;
    --color-control-error-enabled: #ff2424;
    --color-control-disabled: rgba(235, 248, 255, 0.32);

    --color-fill-progressBar-green: #2ab027;
    --color-fill-progressBar-yellow: #d9bb1f;
    --color-fill-progressBar-red: #e42e2e;

    --color-fill-notify: #ff00e5;

    // Text&Icon
    --color-text-icon-default-primary: #f1f3f9;
    --color-text-icon-default-secondary: rgba(241, 243, 249, 0.72);
    --color-text-icon-default-disabled: rgba(241, 243, 249, 0.4);
    --color-text-icon-link-primary: #5b9cff;
    --color-text-icon-link-hover: #8fbcff;
    --color-text-icon-status-inprogress: #00ff19;

    // old

    --color-text-icon-primary: rgb(235, 248, 255);
    --color-text-icon-secondary: rgba(235, 248, 255, 0.48);
    --color-text-icon-disabled: rgba(235, 248, 255, 0.32);
    --color-text-icon-error: #ff2424;
    --color-text-icon-success-OLD: #24ff24;

    --color-text-icon-link-enabled: #0aa9ff;

    // Line
    --color-line-divider: rgba(235, 248, 255, 0.12);

    // Control
    --color-strokes-default: rgba(241, 243, 249, 0.16);
    --color-strokes-active: rgba(241, 243, 249, 0.48);
    --color-strokes-error: #ff3d3d;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

body,
html {
    width: 100%;
}

html {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

::-ms-reveal {
    display: none;
}
