.statusWrapper {
    padding: 4px;
    border-radius: 4px;
    width: fit-content;
}

.statusWrapperNotStarted {
    background-color: var(--color-fill-default-default);
}

.statusWrapperStarted {
    background-color: var(--color-fill-status-inprogress);
}

.statusWrapperFinished {
    background-color: var(--color-fill-default-default);
}

.statusCaption {
    font-size: var(--font-size-12);
    line-height: var(--line-height-medium);
}

.statusCaptionNotStarted {
    color: var(--color-text-icon-primary);
}

.statusCaptionStarted {
    color: var(--color-text-icon-status-inprogress);
}

.statusCaptionFinished {
    color: var(--color-text-icon-disabled);
}
